<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <link rel="stylesheet" th:href="../static/style/register.css"/>-->
    <!--    <link rel="stylesheet" href="../static/style/register.css"/>-->
    <title>Signup Page</title>
</head>
<body>
<div class="container">
    <h1>Signup</h1>
    <form th:action="@{register}" th:object="${user}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" minlength="4" th:field="*{username}" name="username" required>
            <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="text" id="password" minlength="10" th:field="*{password}" name="password" required>
            <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        <div>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="text" id="confirmPassword" minlength="10" th:field="*{confirmPassword}"
                   name="confirmPassword" required>
            <span class="error" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
        </div>
        <button type="submit">Signup</button>
    </form>
</div>
</body>
</html>
